<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Verify your account</title>
    </head>
    <body>
        <main>
            <header class="container" align="center">
                <h3>{title}</h3>
            </header>
            <section class="principal">
                <p>Thank you for sign up. Please click on the link below to activate your account.</p>
                <a href={link}>Click here to activate your account!</a>
            </section>
        </main>
    </body>
</html>
